.AllProjects div {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

.AllProjects h1 {
    margin: auto 68px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 8vw;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid black;
}

.Filters {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

@media screen and (min-width: 1000px) and (min-height: 400px) {
    .AllProjects h1 {
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 36%;
        margin-right: 36%;
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 1vh;
        padding-right: 1vh;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 4vw;
        letter-spacing: -2px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 2px solid black;
    }

    .Filters {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: center;
        position: absolute;
    }
}