/* TODO: remove this file */

.ProjectComponent {
    margin: 0 16px;
    width: 20vw;
    height: 2vh;
    text-align: center;
}

.ProjectBody {
    height: 30%;
}

.ProjectTitle {
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProjectText {
    font-size: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Footer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1000px) and (min-height: 400px) {
    .ProjectComponent {
        height: 60vh;
    }

    .ProjectTitle {
        /* font-size: 2em;
        font-family: 'Roboto', sans-serif;
        font-weight: 900; */
        text-align: center;
        /* letter-spacing: -1px; */
    }

    .ProjectText {
        color: black;
        font-size: 1em;
    }
}