.LoginComponent div {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

.LoginComponent h1 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 36%;
    margin-right: 36%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 4vw;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid black;
}

.LoginComponent h3 {
    margin: 28px;
    padding: 20px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
}

.Buttons {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    margin: auto;
    padding: 20px;
    min-width: 50%;
    min-height: 25%;
}

.Button {
    display: block;
    margin: 28px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    width: 12em;
    background-color: transparent;
}
