.AboutComponent div {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

.AboutComponent h1 {
    margin: 30px;
    padding: 20px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid black;
}

.AboutComponent h3 {
    margin: 30px;
    padding: 20px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
}


.AboutComponent p {
    display: block;
    margin: auto;
    width: 60%;
    font-size: 1em;
}

.AboutComponent span {
    font-size: 80%;
}
